<div>
  <span>Ich denke, dass vor wenigen Jahren noch es für mich absolut unvorstellbar wäre, dass ich heutzutage regelmäßig Meditation betreibe. Als einer der ungeduldigsten Menschen auf diesem Planeten, bin ich wohl die ungeeigneteste Person dafür.
  Glücklicherweise bin ich ebenso ein Mensch der offen für viele Dinge ist und gerne Neues ausprobiert.
  </span>
  <span> Wenn man einmal während des Tages pausiert und in aller Ruhe mithört, was einem durch den Kopf geht, ist es schon erschreckend, was für negative einem durchs Kopf gehen.
  Ich denke, dass es vor allem ein Problem der moderne ist. Den Menschen geht es heutzutage viel zu gut. Würden wir ums Überleben kämpfen und vor Löwen und Tigern weglaufen, hätten wir gar keine Zeit über all die Schlechten Sachen zu denken.
  Sehr viele Menschen leiden an Depressionen heutzutage.</span>
  <span>Ich denke, dass Meditation ein guter Weg ist, dieses negative Denkmuster zu unterbrechen um sich selbst zu helfen etwas positiver zu werden</span>
  <span>Genauso wie der Körper nach einem anstrengenden Workout Zeit und Ruhe braucht um sich zu erholen, genauso benötigt der Geist/Seele seinen Zeit um sich wieder aufzuladen. Und mittels Meditation erholt man sich geistig wieder.

  Es gibt genug Guides im Internet die beschreiben, wie man meditieren soll. Deshalb werde ich nicht nähere darauf eingehen. Allerdings kann ich jedem das Buch "The Relaxation Response" empfehlen </span>
</div>
