
#about-main {
  display: block;
  position: relative;
  min-height: 800px;
}


#about-main::after {
  content: "";
  background: url("fist.jpg");
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

