<div id="angular-main">
  <h1 class="text-center">{{headerText}}</h1>
  <hr>
  <div class="col-md-1">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <a class="btn btn-primary"  [@buttonFlyIn]="state" [routerLink]="['angular']">Angular</a>
      <a class="btn btn-primary"  [@buttonFlyIn2]="state" [routerLink]="['bootstrap']">Bootstrap</a>
      <a class="btn btn-primary"  [@buttonFlyIn3]="state" [routerLink]="['webstorm']">Webstorm</a>
      <a class="btn btn-primary"  [@buttonFlyIn4]="state" [routerLink]="['udemy']">Udemy</a>
    </div>
  </div>
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
  <!--<div class="col-md-11">{{contentText}}</div>-->
</div>
