
#passion-main {
  display: block;
  position: relative;
  min-height: 800px;
}

#passion-main::after {
  content: "";
  background: url("https://media.licdn.com/mpr/mpr/p/8/000/264/12a/17e621b.jpg");
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
