<div id="other-project-main">

  <h1 class="text-center">A List of My Projects</h1>

  <div class="row" *ngFor="let project of projectList" >
    <div  style=" min-height: 50px" class="col-md-2 text-center">{{project.title}}</div>
    <div  style=" min-height: 50px" class="col-md-6 text-center">{{project.description}}</div>
    <div style=" min-height: 50px"  class="col-md-2 text-center"><a [href]="project.link"></a>{{project.link}}</div>
    <hr style="display: block;
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px; ">
  </div>
</div>
