<div id="fitness-main">
  <div>
    <p>da gibts nicht viel zu sagen. Irgendwie scheint es einen sehr positiven Trend zu geben, der viele Leute dazu
      motiviert Sport zu treiben.
      Gepaart mit einer gesunden Ernährung und viel Sport, fühlt man sich nicht nur stetig besser, sondern lebt auch
      viel Gesünder.</p>
    <p>Als ein kleiner Nerd, der eigentlich sein ganzes Leben lang vor dem Pc saß und Computerspiele zockte, war ich bis
      vor wenigen Jahren sehr unsportlich.
      Die asiatischen Schlankheitsgene hielten zum Glück bis zu dem Zeitpunkt an, ab der ich mich entschloss mit dem
      Sport anzufangen.</p>
    <p>Lustigerweise gab mir damals ein Facebookpost meines Cousins, auf dem er einen Sixpack hatte den nötigen Ansporn.
      "Was, wenn er das schafft, dann pack ich das auch trolololol."</p>
    <p>Anfangs war es mehr Zwingen als Leidenschaft. Von Legday hab ich nichtmal etwas gehört. Ich ging 1-2 mal die Woche ins Fitnesscenter und dachte dadurch konnte ich meine restliche Zeit, die ich vorm PC verbracht habe kompensieren.
    Im Studio fühlte ich mich in der Gegenwart anderer sehr unwohl. Damals war es für mich schon eine Leistung, wenn ich ein paar KG an der Maschine drücken konnte.
    </p>
    <p>Doch irgendwann kam die Routine rein. Ich habe mich an das Feeling im Fitnessstudio gewöhnt. Das Schwitzen, die kurzen Intervalle an Schmerzensschreie gemischt mit kleinlautem Gestöhne, sowohl von mir als auch der anderen sind nun ein KonfortzoneIndiz für mich. Mittlerweile sind es schon 5 Jahre her. Viel muskulöser bin ich wahrsceinlich nicht geworden, aber dafür viel bewusster bezüglich meinem Körper und um einiges fitter. Ich kann nun Bussen und Straßenbahnen nachlaufen, zumindest eine Station und dafür lohnt sich das schon :-)</p>
  </div>
</div>
